.privacy {
	&_jumbo_text {
		align-items: center;
		height: 50vh;
		position: relative;
		z-index: 1;

		h1 {
			color: #707070;
			padding-top: 4rem;
			font-weight: 600;
		}
	}

	&_div {
		padding: 2.5rem 0 17rem 0;

		h4 {
			font-size: 1.2rem;
			padding-right: 10%;
			line-height: 2.1rem;
		}

		h5 {
			font-weight: 600;
			border-bottom: 3px solid $theme-default-color;
			display: inline-block;
			margin-top: 2rem;
			margin-bottom: 1rem;
		}

		p {
			color: #090909;
			font-size: 14px;
			padding-right: 5%;
		}
	}
}

.terms_strong {
	font-size: 1rem;
}
