.prof_page {
	&_banner {
		min-height: 90vh;
		background-size: cover !important;
		position: relative;
		background-position: top !important;

		&::after {
			background-color: rgba(0, 0, 0, 0.42);
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			height: 100%;
			width: 100%;
			z-index: 0;
		}

		&_text {
			height: 90vh;
			align-items: center;
			position: relative;
			z-index: 1;
			padding-right: 55%;

			@media (max-width: 1200px) {
				padding-right: 45%;
			}

			@media (max-width: 992px) {
				padding-right: 40%;
			}

			@media (max-width: 767px) {
				padding-right: 30%;
			}

			@media (max-width: 576px) {
				padding-right: 10%;
			}

			h2 {
				color: #fff;
				font-size: 32px;
				font-weight: 500;
				padding-top: 5rem;
				margin-bottom: 1rem;

				@media (max-width: 767px) {
					font-size: 26px;
				}
			}

			input {
				color: #707070;
				border-radius: 8px;
				padding-left: 1.5rem;
				font-weight: 14px;

				&:focus {
					box-shadow: none;
					color: #707070;
				}

				&::placeholder {
					font-size: 14px;
					color: #707070;
				}
			}

			button {
				background-color: $theme-default-color;
				font-size: 14px;
				width: 22%;
				border-radius: 0 8px 8px 0;
				color: #fff;

				@media (max-width: 576px) {
					width: 30%;
				}

				&:hover {
					color: #fff;
					box-shadow: 1px 1px 3px #aaa;
				}
			}

			.tags {
				background-color: rgba(0, 0, 0, 0.45);
				border-radius: 15px;
				font-size: 13px;
				padding: 0.2rem 0.5rem 0.2rem 0.7rem;
				margin-right: 0.5rem;
			}
		}
	}

	&_partners {
		background-color: #f3f3f3;
		padding: 2.5rem 0 1rem 0;

		p {
			color: #707070;
		}

		img {
			width: 6rem;

			@media (max-width: 1200px) {
				width: 5.5rem;
			}
		}
	}

	&_services {
		padding: 2.5rem 0;

		&_box {
			height: 17rem;
			position: relative;
			padding: 0 1rem;

			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
				border-radius: 4px;
				position: relative;
				filter: brightness(0.7);
			}

			p {
				position: absolute;
				top: 45%;
				left: 2rem;
				color: #fff;
				font-weight: 600;
				font-size: 1.2rem;
			}
		}
	}

	&_info {
		background: #f3f3f3;
		padding: 3.5rem 0 2.8rem 0;

		iframe {
			@media (max-width: 767px) {
				margin-bottom: 2rem;
			}
		}

		h5 {
			@media (max-width: 767px) {
				margin-top: 2rem;
			}
		}

		&_box {
			img {
				width: 0.9rem;
				height: 0.9rem;
				margin-right: 0.5rem;
				margin-top: 0.15rem;
			}

			h6 {
				font-size: 15px;
			}

			p {
				font-size: 13px;
			}
		}
	}

	&_lists {
		padding: 3rem 0;
	}

	&_banner1 {
		// min-height: 60vh !important;
		background-size: cover !important;
		position: relative;
		height: 70vh;
		background-position: top !important;

		&::after {
			background-color: rgba(0, 0, 0, 0.42);
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			height: 100%;
			width: 100%;
			z-index: 0;
		}

		&_text {
			height: 60vh !important;
			align-items: center;
			position: relative;
			z-index: 1;
			padding-right: 55%;

			@media (max-width: 1200px) {
				padding-right: 45%;
			}

			@media (max-width: 992px) {
				padding-right: 40%;
			}

			@media (max-width: 767px) {
				padding-right: 30%;
			}

			@media (max-width: 576px) {
				padding-right: 10%;
			}

			h2 {
				color: #fff;
				font-size: 32px;
				font-weight: 500;
				padding-top: 9rem;
				margin-bottom: 1rem;

				@media (max-width: 767px) {
					font-size: 26px;
				}
			}

			input {
				color: #707070;
				border-radius: 8px;
				padding-left: 1.5rem;
				font-weight: 14px;

				&:focus {
					box-shadow: none;
					color: #707070;
				}

				&::placeholder {
					font-size: 14px;
					color: #707070;
				}
			}

			button {
				background-color: $theme-default-color;
				font-size: 14px;
				width: 22%;
				border-radius: 0 8px 8px 0;
				color: #fff;

				&:hover {
					color: #fff;
					box-shadow: 1px 1px 3px #aaa;
				}

				@media (max-width: 576px) {
					width: 30%;
				}
			}

			.tags {
				background-color: rgba(0, 0, 0, 0.45);
				border-radius: 15px;
				font-size: 13px;
				padding: 0.2rem 0.5rem 0.2rem 0.7rem;
				margin-right: 0.5rem;
			}
		}
	}
}

.slick-next:before,
.slick-prev:before {
	color: #000;
	font-size: 1.5rem;
}

.prof_det_page {
	padding: 10rem 0 5rem 0;

	&_box {
		border: 1px solid rgba(112, 112, 112, 0.46);
		padding: 3rem 2rem 3rem 2rem;

		hr {
			margin: 1rem 0;
		}

		.icon {
			width: 0.8rem;
			margin-right: 0.7rem;
		}

		p {
			font-size: 14px;
			color: #707070;
		}

		a {
			font-size: 14px;
			color: #707070;
		}

		&_btn {
			background: #fc1a29 !important;
			border: 1px solid #fc1a29;
			color: #fff !important;
			transition: all 0.4s ease-in-out;

			&:hover {
				color: #fff;
				box-shadow: 1px 1px 3px #999;
			}

			&:focus {
				box-shadow: none;
				border: 1px solid #fc1a29;
			}
		}

		&_btn1 {
			background: #fff !important;
			border: 1px solid #fc1a29;
			color: #707070 !important;
			transition: all 0.4s ease-in-out;

			&:hover {
				color: #fff;
				background: #fc1a29;
				box-shadow: 1px 1px 3px #999;
			}

			&:focus {
				box-shadow: none;
				border: 1px solid #fc1a29;
			}
		}

		.social {
			margin-right: 1rem;

			img {
				width: 1.2rem;
				margin-right: 0.2rem;
			}
		}

		.skill {
			border: 1px solid #707070;
			padding: 0.3rem 0.6rem 0.3rem 0.8rem;
			font-size: 12px;
			border-radius: 12px;
			margin-right: 1rem;
		}
	}

	.user_img {
		height: 7rem;
		width: 7rem;
		border-radius: 50%;
		margin: 0 auto 0.7rem auto;
	}

	h4 {
		text-align: center;
		font-weight: 600;
		font-size: 1.3rem;
		margin-bottom: 1rem;
	}

	&_proj {
		img {
			height: 13rem;
			width: 100%;
			margin-bottom: 1.7rem;
			border-radius: 10px;
		}
	}

	.btn-close {
		display: none !important;
		background-color: red;
	}
}
