/* ---------------- search apartment bar component styles -------------------- */
.search_apartment_div {
	padding: 0 15%;
	margin-top: -8.1rem;
}

.search_component_div {
	position: relative;
	background-color: rgba(208, 223, 252, 0.1);
	border-radius: 8px;
	padding: 0.6rem 1.2rem 0.3rem 1.2rem;
}

.search_component_div input,
.search_component_div .input,
.search_component_div select {
	font-size: 14px;
	padding-left: 2.2rem;
}

.search_component_div span {
	position: absolute;
	top: 8.5px;
	color: #3c79f2;
	left: 16px;
}

.search_component_div input[type='date']::-webkit-calendar-picker-indicator {
	font-size: 1px;
	width: 100%;
	background-color: transparent;
}

.search_component_div_date {
	position: absolute;
	z-index: 999;
	left: 33%;
	right: 33%;
}

@media (max-width: 1200px) {
	.search_apartment_div {
		padding: 0 8%;
	}
}

@media (max-width: 992px) {
	.search_apartment_div {
		padding: 0 7%;
		margin-top: -17.1rem;
	}

	.events_page .search_apartment_div {
		padding: 0 7%;
		margin-top: -8.1rem;
	}

	.search_component_div input,
	.search_component_div .input,
	.search_component_div select {
		margin-bottom: 1rem;
	}

	.search_component_div_date {
		top: 7rem;
		left: 10%;
	}
}

@media (max-width: 767px) {
	.search_apartment_div {
		padding: 0 7%;
		margin-top: -19.1rem;
	}
}

@media (max-width: 576px) {
	.search_apartment_div {
		padding: 0;
		margin-top: -14.1rem;
		background-color: #fff;
		border-radius: 50px 50px 0px 0px;
		padding-top: 1.5rem;
	}

	.search_component_div {
		position: relative;
		background-color: rgba(208, 223, 252, 0);
	}
}

/* ---------------- Page section header component styles -------------------- */
.page_header_component h3 {
	font-size: 26px;
	font-weight: 700;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	color: #2d2d2d;
}

.blue_line {
	height: 2px;
	width: 50px;
	margin-right: 8px;
}

.page_header_component h6,
.page_header_component a {
	margin-bottom: 0;
	font-weight: 600;
	font-size: 16px;
	text-transform: uppercase;
}

@media (max-width: 767px) {
	.blue_line {
		width: 30px;
	}

	.page_header_component h3 {
		font-size: 22px;
	}

	.page_header_component a {
		font-size: 12px;
	}
}

@media (max-width: 576px) {
	.page_header_component h3 {
		font-size: 19px;
	}

	.page_header_component a {
		font-size: 12px;
	}
}

/* ---------------- Slider images component styles -------------------- */
.images_slider .slick-dots {
	position: absolute;
	bottom: 0;
}

.images_slider .slick-dots li.slick-active button::before {
	color: #6394f4;
	transform: scale(1.5);
}

.images_slider .slick-dots li button::before {
	color: #fff;
}

.images_slider .slick-dots li {
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.images_slider .slick-dots li button {
	padding-right: 0 !important;
	padding-left: 0 !important;
}

.images_slider .slick-prev {
	left: 12px;
	z-index: 99;
}

.images_slider .slick-next {
	right: 16px;
	z-index: 99;
}

/* -------------------- ApartmentCard component styles --------------- */
.apartment_card_div {
	padding-top: 1rem;
}
.apartment_card h6 {
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	display: flex;
	align-items: center;
	letter-spacing: 0.15px;
	color: rgba(6, 6, 6, 0.9);
	min-height: 1.5rem;
	/* margin-bottom: 0; */
}

.apartment_card_img_div {
	height: 15rem;
}

.apartment_card img {
	border-radius: 0px 0px 8px 8px;
	height: 15rem;
	width: 100%;
	object-fit: cover;
}

.apartment_card p {
	margin-bottom: 6px;
	font-weight: 500;
}

.apartment_card .amount {
	color: #06060699;
	font-size: 12px;
}

.apartment_card .amount span {
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 0.15px;
	color: #060606;
}

/* ----------------------------------- footer section styles ---------------------------- */
.footer1 {
	background: #071f50;
	color: #f8f8f8cc;
	padding-top: 1.5rem;
	padding-bottom: 0.7rem;
}

.footer1 h6 {
	font-weight: 600;
	font-size: 14px;
	margin-bottom: 10px;
}

.footer1 p {
	font-weight: 500;
	font-size: 12px;
}

.footer1 .social_links {
	display: flex;
}

.footer1 .social_links a,
.foot_socials2 a {
	color: #155eef;
	background-color: #fff;
	height: 30px;
	width: 30px;
	display: flex;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	transition: all 0.4s ease-in-out;
}

.footer1 .social_links a:hover,
.foot_socials2 a:hover {
	color: #f8f8f8;
	background-color: #155eef;
	box-shadow: 1px 1px 1px #ccc;
}

.footer1 .social_links a i {
	font-size: 1.2rem;
}

.footer_align_right {
	text-align: right;
}

.footer_align_right p {
	text-transform: uppercase;
}

.footer1 input,
.footer1 button {
	border-radius: 0;
	font-size: 14px;
}

.footer1 input {
	width: 3rem !important;
}

.footer1 button {
	background-color: #155eef;
	color: #f8f8f8;
	width: 6rem;
	font-weight: 600;
}

.footer1 input:focus,
.footer1 button:focus {
	border: none;
}

.footer2 {
	background: #041330;
	padding-top: 2rem;
	padding-bottom: 0.6rem;
}

.foot_links a {
	font-weight: 600;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	color: rgba(248, 248, 248, 0.8);
	display: inline-block;
	margin-bottom: 1rem;
	/* margin-right: 2rem; */
}

.sv {
	align-items: center;
}

.foot_para {
	padding-top: 3.5rem;
}

.foot_para p,
.foot_para a {
	font-weight: 600;
	font-size: 12px;
	color: rgba(248, 248, 248, 0.8);
	text-decoration: none;
}

.foot_para .align_right {
	text-align: right;
}

.bg_white {
	background-color: white !important;
}

@media (min-width: 767px) {
	.foot_socials2 {
		display: none;
	}
}

@media (max-width: 767px) {
	.footer_align_right {
		text-align: center;
	}

	.foot_socials {
		display: none;
	}

	.foot_socials2 .social_links {
		display: flex;
		justify-content: center;
		border-top: 1px solid rgba(248, 248, 248, 0.3);
		border-bottom: 1px solid rgba(248, 248, 248, 0.3);
		padding: 1.5rem 0;
		margin: 1rem 0;
	}

	.foot_para {
		padding-top: 1rem;
	}

	.foot_para,
	.foot_para .align_right {
		text-align: center;
	}
}
