/* ---------------- search apartment bar component styles -------------------- */
.search_component_main_div {
	padding: 0 15%;
	margin-top: -8.1rem;
}

.search_component_div {
	position: relative;
	background-color: rgba(208, 223, 252, 0.1);
	border-radius: 8px;
	padding: 0.6rem 1.2rem 0.3rem 1.2rem;
}

.search_component_div input,
.search_component_div select {
	font-size: 14px;
	padding-left: 2.2rem;
}

.search_component_div span {
	position: absolute;
	top: 8.5px;
	color: #3c79f2;
	left: 16px;
}

@media (max-width: 1200px) {
	.search_component_main_div {
		padding: 0 10%;
	}
}

@media (max-width: 992px) {
	.search_component_main_div {
		padding: 0 7%;
		margin-top: -15.1rem;
	}

	.search_component_div input,
	.search_component_div select {
		margin-bottom: 1rem;
	}
}

@media (max-width: 767px) {
	.search_component_main_div {
		padding: 0 7%;
		margin-top: -19.1rem;
	}
}

@media (max-width: 576px) {
	.search_component_main_div {
		padding: 0;
		margin-top: -14.1rem;
		background-color: #fff;
		border-radius: 50px 50px 0px 0px;
		padding-top: 1.5rem;
	}

	.search_component_div {
		position: relative;
		background-color: rgba(208, 223, 252, 0);
	}
}

/* ---------------- Page section header component styles -------------------- */
.page_header_component h3 {
	font-size: 26px;
	font-weight: 700;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	color: #2d2d2d;
}

.blue_line {
	height: 2px;
	width: 50px;
	margin-right: 8px;
}

.page_header_component h6,
.page_header_component a {
	margin-bottom: 0;
	font-weight: 600;
	font-size: 16px;
	text-transform: uppercase;
}

@media (max-width: 767px) {
	.blue_line {
		width: 30px;
	}
	.page_header_component h3 {
		font-size: 22px;
	}
}

/* ---------------- Slider images component styles -------------------- */
.images_slider .slick-dots {
	position: absolute;
	bottom: 0;
}

.images_slider .slick-dots li.slick-active button::before {
	color: #6394f4;
	transform: scale(1.5);
}

.images_slider .slick-dots li button::before {
	color: #fff;
}

.images_slider .slick-dots li {
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.images_slider .slick-dots li button {
	padding-right: 0 !important;
	padding-left: 0 !important;
}

.images_slider .slick-prev {
	left: 12px;
	z-index: 99;
}

.images_slider .slick-next {
	right: 16px;
	z-index: 99;
}

/* -------------------- ApartmentCard component styles --------------- */
.apartment_card_div {
	padding-top: 1rem;
}
.apartment_card h6 {
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	display: flex;
	align-items: center;
	letter-spacing: 0.15px;
	color: rgba(6, 6, 6, 0.9);
}

.apartment_card img {
	border-radius: 0px 0px 8px 8px;
}

.apartment_card p {
	margin-bottom: 6px;
	font-weight: 500;
}

.apartment_card .amount {
	color: #06060699;
	font-size: 12px;
}

.apartment_card .amount span {
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 0.15px;
	color: #060606;
}

/* ----------------------------------- footer section styles ---------------------------- */
.footer1 {
	background: #071f50;
	color: #f8f8f8cc;
	padding-top: 1.5rem;
	padding-bottom: 0.7rem;
}

.footer1 h6 {
	font-weight: 600;
	font-size: 14px;
	margin-bottom: 10px;
}

.footer1 p {
	font-weight: 500;
	font-size: 12px;
}

.footer1 .social_links {
	display: flex;
}

.footer1 .social_links a {
	color: #155eef;
	background-color: #fff;
	height: 30px;
	width: 30px;
	display: flex;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	transition: all 0.4s ease-in-out;
}

.footer1 .social_links a:hover {
	color: #f8f8f8;
	background-color: #155eef;
	box-shadow: 1px 1px 1px #ccc;
}

.footer1 .social_links a i {
	font-size: 1.2rem;
}

.footer_align_right {
	text-align: right;
}

.footer1 input,
.footer1 button {
	border-radius: 0;
	font-size: 14px;
}

.footer1 input {
	width: 3rem !important;
}

.footer1 button {
	background-color: #155eef;
	color: #f8f8f8;
	width: 6rem;
	font-weight: 600;
}

.footer1 input:focus,
.footer1 button:focus {
	border: none;
}

.footer2 {
	background: #041330;
	padding-top: 2rem;
	padding-bottom: 0.6rem;
}

.foot_links a {
	font-weight: 600;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	color: rgba(248, 248, 248, 0.8);
	display: inline-block;
	margin-right: 2rem;
}

.foot_para {
	padding-top: 3.5rem;
}

.foot_para p,
.foot_para a {
	font-weight: 600;
	font-size: 12px;
	color: rgba(248, 248, 248, 0.8);
	text-decoration: none;
}

.foot_para .align_right {
	text-align: right;
}

.bg_white {
	background-color: white !important;
}

/* -------------------------------------- Navbar component styles ---------------------- */
.nav_light {
	background-color: rgba(255, 255, 255, 0.95);
	/* filter: blur(0.2rem); */
}

header a {
	text-decoration: none;
}

.host_btn {
	font-weight: 400;
	font-size: 14px;
	line-height: 32px;
	letter-spacing: 0.15px;
	color: #f8f8f8 !important;
	border: 1px solid #f8f8f8;
	padding: 1px 22px !important;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
	transition: all 0.4s ease-in-out;
	margin-right: 1.7rem;
	height: 2.5rem;
	margin-top: 0.2rem;
}

.nav_light .host_btn {
	color: #000 !important;
	border: 1px solid #2d2d2d;
}

.host_btn:hover {
	background-color: #f8f8f8;
	color: #222 !important;
}

.nav_light .host_btn:hover {
	color: #fff !important;
	background-color: #000;
	border: 1px solid #2d2d2d;
}

header .prof_circle {
	height: 2rem;
}

.def_navbar1 .social_links a {
	color: #fff;
}

.nav_light.def_navbar1 .social_links a {
	color: #2d2d2d;
}

.def_navbar2,
.def_navbar1 {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.def_navbar1 .dropdown-toggle::after {
	display: none;
}

.def_navbar1 button:focus:not(:focus-visible),
.def_navbar1 button {
	border: none;
	box-shadow: none;
}

.def_navbar1 .navbar-toggler {
	border-color: none !important;
	color: #071f50;
}

.navLink_div {
	justify-content: center;
	align-items: center;
	margin-top: 0.8rem;
}

.js_scroll {
	font-weight: 600;
	font-size: 12px;
	line-height: 15px;
	color: rgba(248, 248, 248, 0.8);
	display: block;
	text-align: center;
}

.js_scroll img,
.js_scroll i {
	height: 1rem;
	margin-bottom: 0.3rem;
}

.center_logo img {
	width: 80%;
}

.nav_light .js_scroll {
	color: #2d2d2d;
}

.def_navbar2 .sub_img_dark {
	display: none;
}

.nav_light.def_navbar2 .sub_img_light {
	display: none;
}

.nav_light.def_navbar2 .sub_img_dark {
	display: inline-block;
}

.b_r_w {
	border-right: 1px solid #fff;
}

.nav_light .b_r_w {
	border-right: 1px solid #2d2d2d;
}

.def_navbar2 .center_logo2,
.nav_light.def_navbar2 .center_logo1 {
	display: none;
}

.nav_light.def_navbar2 .center_logo2 {
	display: inline-block;
}

@media (min-width: 992px) {
	.def_navbar1 .profile_dark {
		display: none;
	}

	.nav_light.def_navbar1 .profile_dark {
		display: inline-block;
	}

	.nav_light.def_navbar1 .profile_light {
		display: none;
	}

	.def_navbar1 .logo {
		display: none;
	}
}

@media (max-width: 992px) {
	.def_navbar2 {
		background-color: #fff;
	}

	.def_navbar1 {
		background-color: #f7f9fd;
	}

	.def_navbar1 .profile_light {
		display: none;
	}

	.def_navbar1 .social_links {
		display: none;
	}

	.def_navbar1 .logo {
		width: 10rem;
	}

	.def_navbar1 .dropdown-toggle::after {
		display: inline-block;
	}

	.nav_box {
		background-color: #f1f1f1;
		margin-top: 0.3rem;
	}

	.host_btn {
		color: black !important;
		justify-content: flex-start;
		font-size: 14px;
		border: none;
		padding: 0px 6px !important;
		margin-right: 0;
		height: 1.5rem;
	}

	.center_logo {
		display: none;
	}

	.b_r_w,
	.nav_light .b_r_w {
		border-right: 1px solid transparent;
	}

	.js_scroll {
		color: #2d2d2d;
	}

	.nav_light.def_navbar2 .sub_img_light,
	.def_navbar2 .sub_img_light {
		display: none;
	}

	.nav_light.def_navbar2 .sub_img_dark,
	.def_navbar2 .sub_img_dark {
		display: inline-block;
	}
}

@media (max-width: 576px) {
	.js_scroll {
		font-size: 8px;
	}
}
