.stat_box {
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	height: 100px;
	justify-content: center;
	padding: 0.4rem 1.5rem;
	color: #fff;
	margin-bottom: 1rem;
}

.stat_box1 {
	background: linear-gradient(102.03deg, #046ba6 0%, #0096eb 100%);
}

.stat_box2 {
	background: linear-gradient(101.5deg, #0a9a50 0%, #00c861 101.34%);
}

.stat_box3 {
	background: linear-gradient(101.74deg, #c69014 0%, #dbb252 102.07%);
}

.stat_box4 {
	background: linear-gradient(
		78.39deg,
		#ff5b3d 2.71%,
		rgba(233, 78, 50, 0.79) 98.86%
	);
}

.stat_box p {
	margin-bottom: 0;
	font-size: 13px;
}

.stat_box h5 {
	padding-top: 0.7rem;
}

.dashboard .pebbles_form button {
	margin-top: 3rem;
	width: 10rem;
	font-weight: 500;
	font-size: 14px;
	color: #155eef;
	background-color: #fff;
	border: 1px solid #155eef;
	border-radius: 6px;
	transition: all 0.3s ease-in-out;
}

.dashboard .pebbles_form button:hover {
	background-color: #155eef;
	color: #fff;
	box-shadow: 1px 2px 3px #ccc;
}

.dashboard {
	padding: 1rem 0;
}

.dashboard h6 {
	margin-bottom: 1rem;
}

.dashboard .pebbles_form select {
	border: none;
	border-bottom: 1px solid #2d2d2d;
	border-radius: 0;
	padding: 0;
	font-size: 14px;
}

.dashboard .pebbles_form select:focus {
	box-shadow: none;
}

.dashboard_bookings .images_slider {
	width: 9rem;
}

.dashboard_bookings .images_slider img {
	width: 90%;
	height: 5rem;
	object-fit: cover;
	border-radius: 8px;
	margin-right: 1rem;
}

.dashboard_bookings .apart_name {
	margin-top: 1rem;
}

.dashboard table {
	margin-top: 0.5rem;
	font-size: 14px;
}

.dashboard thead {
	border-bottom: 0px solid transparent;
}

.dashboard thead tr th {
	color: #2d2d2d80;
	font-weight: 600;
}

.dashboard_bookings tbody tr td {
	padding-top: 1.5rem;
	vertical-align: text-bottomß;
}

.dashboard_bookings .td_pad_top {
	padding-top: 3.5rem;
}
