.stat_box {
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	height: 100px;
	justify-content: center;
	padding: 0.4rem 1.5rem;
	color: #fff;
	margin-bottom: 1rem;
}

.stat_box1 {
	background: linear-gradient(102.03deg, #046ba6 0%, #0096eb 100%);
}

.stat_box2 {
	background: linear-gradient(101.5deg, #0a9a50 0%, #00c861 101.34%);
}

.stat_box3 {
	background: linear-gradient(101.74deg, #c69014 0%, #dbb252 102.07%);
}

.stat_box4 {
	background: linear-gradient(
		78.39deg,
		#ff5b3d 2.71%,
		rgba(233, 78, 50, 0.79) 98.86%
	);
}

.stat_box p {
	margin-bottom: 0;
	font-size: 13px;
}

.stat_box h5 {
	padding-top: 0.7rem;
}

.dashboard .pebbles_form button {
	margin-top: 3rem;
	width: 10rem;
	font-weight: 500;
	font-size: 14px;
	color: #155eef;
	background-color: #fff;
	border: 1px solid #155eef;
	border-radius: 6px;
	transition: all 0.3s ease-in-out;
}

.dashboard .pebbles_form button:hover {
	background-color: #155eef;
	color: #fff;
	box-shadow: 1px 2px 3px #ccc;
}

.dashboard {
	padding: 1rem 0;
}

.dashboard h6 {
	margin-bottom: 1rem;
}

.dashboard .pebbles_form select {
	border: none;
	border-bottom: 1px solid #2d2d2d;
	border-radius: 0;
	padding: 0;
	font-size: 14px;
}

.dashboard .pebbles_form select:focus {
	box-shadow: none;
}

.dashboard_bookings .images_slider {
	width: 9rem;
}

.dashboard_bookings .images_slider img {
	width: 90%;
	height: 5rem;
	object-fit: cover;
	border-radius: 8px;
	margin-right: 1rem;
}

.dashboard_bookings .apart_name {
	margin-top: 1rem;
}

.dashboard table {
	margin-top: 0.5rem;
	font-size: 14px;
}

.dashboard thead {
	border-bottom: 0px solid transparent;
}

.dashboard thead tr th {
	color: #2d2d2d80;
	font-weight: 600;
}

.dashboard_bookings tbody tr td {
	padding-top: 1.5rem;
	vertical-align: text-bottomß;
}

.dashboard_bookings .td_pad_top {
	padding-top: 3.5rem;
}

.dashboard .apartment_card {
	border-bottom: 1px solid #ccc;
	padding-bottom: 1rem;
}

.listing_form h5 {
	font-weight: 600;
	font-size: 18px;
	line-height: 32px;
	letter-spacing: 0.616145px;
	color: #071f50;
	margin-bottom: 1rem;
}

.listing_form label {
	font-weight: 400;
	font-size: 16px;
	margin-bottom: 1rem;
	letter-spacing: 0.227791px;
	color: #2d2d2d;
}

.listing_form .input_div {
	border-bottom: 1px solid #2d2d2d;
	padding: 0 1rem;
	margin-bottom: 1.5rem;
}

.listing_form input,
.listing_form input:disabled,
.listing_form input:focus,
.listing_form input::placeholder,
.listing_form select,
.listing_form select:focus,
.listing_form select::placeholder,
.listing_form .form-control:focus,
.listing_form .rmsc .dropdown-container:focus {
	border: none;
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 0.227791px;
	/* color: rgba(45, 45, 45, 0.5); */
	box-shadow: none;
	background-color: #fff;
}

.listing_form .input_div img {
	display: inline-block;
	height: 1rem;
	object-fit: cover;
	margin-top: 0.5rem;
}

.listing_form .mapp {
	height: 30rem;
	width: 100%;
	border-radius: 1rem;
	overflow: hidden;
	margin: 1rem 0 2rem;
}

.listing_form .rmsc .dropdown-container,
.listing_form .form-control {
	border: none;
}

.listing_form textarea.form-control,
.listing_form textarea.form-control:focus {
	border: 1px solid rgba(45, 45, 45, 0.6);
	border-radius: 10px;
	height: 10rem;
}

/* ------------------------------ user listing page -------------------------------- */
.dashboard_listings .add_new_btn {
	background-color: #f0f0f0;
	padding: 0.5rem 1rem;
	box-shadow: 1px 1px 5px #ccc;
	color: #155eef;
	font-size: 12px;
	margin-bottom: 0.2rem;
	display: inline-block;
}

.dashboard_listings .roww {
	border-bottom: none;
	background-color: #fcfcfc;
	padding: 0.2rem 1rem 0;
	box-shadow: 1px 2px 6px #f0f0f0;
}

.dashboard_listings .react-tabs__tab {
	border: none;
	position: inherit;
	font-size: 12px;
}

.dashboard_listings .react-tabs__tab.react-tabs__tab--selected {
	font-weight: 600;
	border-bottom: 2px solid #155eef;
}

.tooltipp {
	position: relative;
	display: inline-block;
}

/* Tooltipp text */
.tooltipp .tooltipptext {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;

	/* Position the tooltipp text */
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;

	/* Fade in tooltipp */
	opacity: 0;
	transition: opacity 0.3s;
}

/* Tooltipp arrow */
.tooltipp .tooltipptext::after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

/* Show the tooltipp text when you mouse over the tooltipp container */
.tooltipp:hover .tooltipptext {
	visibility: visible;
	opacity: 1;
}

.btn_blue {
	background-color: #155eef;
	color: #fff;
	transition: all 0.3s ease-in-out;
}

.btn_blue:disabled {
	background-color: #155eef;
}

.btn_blue:hover {
	background-color: #071f50;
	color: #fff;
}
