a {
	text-decoration: none;
}
.homepage_bg,
.about_page_bg {
	background-size: cover !important;
	min-height: 90vh;
	position: relative;
	object-fit: contain;
}

.homepage_bg::before,
.about_page_bg::before {
	content: '';
	background-color: rgba(45, 45, 45, 0.7);
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.homepage_div {
	flex-direction: column;
	display: flex;
	height: 90vh;
	justify-content: center;
	position: relative;
	color: #fff;
	padding-left: 5%;
}

.homepage_div h1 {
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 40px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	color: rgba(248, 248, 248, 1);
}

.homepage_div p {
	font-size: 14px;
	margin-top: 10px;
}

.home_carousel .slick-dots {
	position: absolute;
	top: 50%;
	right: 4%;
	text-align: right;
	display: flex !important;
	flex-direction: column;
	align-items: end;
	gap: 0.1rem;
}

.home_carousel .slick-dots li.slick-active button::before {
	color: #fff;
	/* border: 0.1px solid transparent; */
	/* outline: 1px solid #fff; */
}

.home_carousel .slick-dots li button::before {
	opacity: 1;
	color: transparent;
	border: 1px solid #fff;
	/* outline: 1px solid transparent; */
	border-radius: 50%;
	width: 14px;
	height: 14px;
	font-size: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1px 0px 0 0.5px;
}

.search_apartment_div {
	position: relative;
}

.search_apartment_div h3 {
	color: #fff;
	font-weight: 600;
	font-size: 16px;
	line-height: 30px;
	text-align: center;
	letter-spacing: 0.5px;
}

.explore_apartments {
	padding-top: 6rem;
	padding-bottom: 2rem;
}

.explore_apartments .p_4 {
	padding: 20px;
}

.explore_apartments .slick-arrow::before {
	/* background-color: rgba(45, 45, 45, 0.8); */
	color: #d0dffc;
	border-radius: 50%;
	padding: -0px;
	font-size: 28px;
}

.explore_apartments .px_5 {
	padding-left: 3rem;
	padding-right: 3rem;
}

.new_apartments {
	position: relative;
	padding-top: 4rem;
	padding-bottom: 3rem;
	background-attachment: fixed;
}

.new_apartments::before {
	content: '';
	background-color: rgba(6, 6, 6, 0.65);
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	height: 100%;
}

.gxc {
	position: relative;
}

.new_apartments img {
	width: 100%;
	height: 188px;
	object-fit: cover;
}

.new_apartments a {
	text-decoration: none;
}

.new_apartments a img {
	border-radius: 8px 8px 0 0;
}

.new_apartments h1 {
	text-align: center;
	font-weight: 600;
	font-size: 40px;
	letter-spacing: 0.15px;
	color: #f8f8f8;
	position: relative;
	margin-bottom: 3rem;
}

.new_apartments .bg-white {
	margin-top: -0.2rem;
	height: 2.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 0.5rem;
}

.new_apartments p {
	margin-bottom: 0;
	font-weight: 400;
	letter-spacing: 0.15px;
}

.text_black {
	color: #2d2d2d;
}

.new_apartments .explore {
	color: #f8f8f8;
	position: relative;
	border: 1px solid #f8f8f8;
	padding: 0.8rem 1rem;
	font-weight: 500;
	border-radius: 6px;
	transition: all 0.3s ease-in-out;
}

.new_apartments .explore:hover {
	background-color: #f8f8f8;
	box-shadow: 1px 2px 3px #ccc;
	color: #060606;
}

.trendy_apartments {
	padding-top: 3.5rem;
}

.unlock_your {
	padding-bottom: 5rem;
	padding-top: 6rem;
}

.unlock_your h1 {
	text-align: left;
	margin-bottom: 2rem;
}

.unlock_your p {
	color: #f8f8f8;
}

.review_box {
	padding: 2rem;
	padding-top: 3rem;
	min-height: 390px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: #d0dffc;
	border-radius: 100px 0px;
}

.review_box p {
	color: #124ec7;
	margin-bottom: 0;
}

.review_box .message {
	text-align: justify;
	font-family: Halant;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 37.5px; /* 187.5% */
	letter-spacing: 0.15px;
	margin-bottom: 1rem;
}

.review_box .name {
	font-weight: 500;
	margin-bottom: 0.5rem;
}

@media (max-width: 1200px) {
	.new_apartments img {
		height: 130px;
	}
}

@media (max-width: 992px) {
	.new_apartments .row-mobile {
		display: flex;
		flex-wrap: nowrap;
		overflow-x: auto;
		overflow-y: hidden;
		/* margin-right: 5px; */
	}

	.new_apartments img {
		width: 150px !important;
		height: 130px;
	}

	.homepage_div h1 {
		font-size: 32px;
	}

	.explore_apartments .px_5 {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
}

@media (max-width: 767px) {
	.homepage_div h1 {
		font-size: 24px;
		line-height: 26px;
	}

	.home_carousel .slick-dots {
		display: none !important;
	}

	.new_apartments h1 {
		font-size: 30px;
	}

	.unlock_your h1 {
		font-size: 24px;
	}

	.explore_apartments .px_5 {
		padding-left: 0;
		padding-right: 0;
	}
}

/* -------------------------------- Search page ------------------------------- */
.page_padding {
	padding-top: 4rem;
}

.navbar_search .search_component_main_div {
	padding: 0 15%;
	margin-top: 0;
	margin-bottom: 4rem;
	padding-bottom: 1rem;
	box-shadow: 2px 2px 4px rgba(21, 94, 239, 0.05);
}

.search_page .sort_div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;
}

.sort_div select:focus {
	box-shadow: none;
}

.map_section {
	margin: 2rem 0;
}

.search_component_main_div .btn_search {
	background-color: #155eef;
}

.search_component_main_div .btn_search:focus {
	background-color: #155eef;
	color: #fff;
	box-shadow: #155eef;
	border-color: #155eef;
}

@media (max-width: 1200px) {
	.navbar_search .search_component_main_div {
		padding: 0 8%;
	}
}

@media (min-width: 992px) {
	.map_section {
		display: inline;
	}
}

@media (max-width: 992px) {
	.page_padding {
		padding-top: 10rem;
	}

	/* .map_section {
		display: none;
	} */

	.navbar_search .search_component_main_div {
		padding: 0;
		margin-bottom: 2rem;
	}
}

@media (max-width: 767px) {
	.sort_div p,
	.sort_div select {
		font-size: 14px;
	}
}

/* -------------------------------- Apartment Details page ------------------------------- */
.apartment_details_page .intro_image {
	width: 100%;
	border-radius: 8px;
	object-fit: cover;
}

.intro_image.intro_half {
	height: 240px;
}

.intro_image.intro_full {
	height: 503px;
}

.apartment_formform_pad {
	padding: 1rem 3.5rem;
	/* position: relative; */
	position: sticky;
	top: 60px;
}

.apartment_formform {
	background: #ffffff;
	box-shadow: -3px -3px 22px rgba(21, 94, 239, 0.04),
		3px 3px 22px rgba(21, 94, 239, 0.04);
	border-radius: 20px;
	padding: 1.8rem 2.5rem 0 2.5rem;
	color: #333;
}

.apartment_formform img {
	height: 1.5rem;
	margin-right: 1.5em;
}

.apartment_formform .sect1,
.apartment_formform .sect2 {
	border-bottom: 1.14691px solid rgba(45, 45, 45, 0.2);
	padding-bottom: 1rem;
	margin-bottom: 1rem;
}

.apartment_formform .sect3 p {
	font-size: 14px;
}

.apartment_formform .sect1 p,
.apartment_formform .sect2 p {
	margin-bottom: 0;
	font-size: 12px;
}

.apartment_formform_div {
	border: 1px solid #333333;
	border-radius: 4px;
}

.apartment_formform_div .bor_right {
	border-right: 1px solid #041330;
}

.apartment_formform_div .bor_bottom {
	border-bottom: 1px solid #041330;
}

.apartment_formform_div input {
	border: none;
	width: 100%;
	font-size: 14px;
}

.apartment_formform_div input::placeholder {
	font-size: 14px;
}

.apartment_formform_div input:focus {
	box-shadow: none;
}

.apartment_formform .btn_save {
	background: #155eef;
	border-radius: 4px;
	font-weight: 500;
	font-size: 16px;
	line-height: 23px;
	color: #fff;
	transition: all 0.3s ease-in-out;
	margin: 1.2rem 0;
}

.apartment_formform .btn_save:hover {
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
}

.apartment_details_page .intro_header {
	font-weight: 600;
	line-height: 34px;
	letter-spacing: 0.169361px;
	color: #2d2d2d;
	margin: 1rem 0;
}

.apartment_details_page .intro_para {
	font-weight: 400;
	line-height: 32px;
	letter-spacing: 0.169361px;
	margin: 0.5rem 0 1rem 0;
	/* text-align: justify; */
}

.apartment_details_page ul.intro_para {
	padding-left: 1rem;
}

.apartment_details_page .sect_head {
	font-weight: 600;
	/* font-size: 40px; */
	line-height: 32px;
	letter-spacing: 0.169361px;
	margin: 4rem 0 1rem 0;
	color: #2d2d2d;
	padding-bottom: 1rem;
	border-bottom: 1.14691px solid rgba(45, 45, 45, 0.2);
}

.apartment_details_page .amenities_div {
	padding: 0.2rem 0;
}

.apartment_details_page .amenities_div svg,
.booking_policy svg {
	color: #155eef;
	margin-right: 0.6rem;
}

.btn_white_blue {
	color: #155eef;
	font-weight: 400;
	font-size: 14px;
	line-height: 28px;
	background-color: #fff;
	border: 1px solid #155eef;
}

.booking_policy svg {
	font-size: 26px;
}

.booking_policy .detail_div {
	padding-top: 0.2rem;
}

.apartment_details_page h5 {
	font-weight: 600;
}

.booking_policy .detail_div h6 {
	font-weight: 500;
}

.apartment_details_page .grey_bg {
	background-color: #ecf0f9;
	padding: 2rem 0 0.7rem 0;
}

.apartment_details_page .grey_bg h5 {
	font-size: 18px;
}

.apartment_details_page .landmarks {
	padding-top: 3rem;
}

.apartment_details_page .landmarks img {
	width: 100%;
	border-radius: 0;
	margin-bottom: 1rem;
}

.lightbox_btn {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	font-size: 14px;
	background: #f8f8f8;
	border-width: 1px 1px 0px 0px;
	border-style: solid;
	border-color: #2d2d2d;
	border-radius: 4px;
	padding: 12px 22px;
}

.amenity_icon {
	height: 20px;
	width: 20px;
	color: #155eef !important;
	fill: #155eef !important;
	object-fit: contain;
	margin-right: 1rem;
}

.amenity_icon path {
	fill: #155eef !important;
}

.amenity_para {
	margin-bottom: 0;
}

@media (max-width: 1200px) {
	.apartment_formform_pad {
		padding: 1rem 2rem;
	}
}

@media (max-width: 992px) {
	.apartment_formform_pad {
		padding: 1rem 0;
	}

	.intro_image.intro_half {
		height: 163px;
	}

	.intro_image.intro_full {
		height: 350px;
	}

	.apartment_details_page .intro_header,
	.apartment_details_page .sect_head {
		line-height: 30px;
		margin: 0rem 0 1rem 0;
		font-size: 24px;
	}

	.apartment_details_page .intro_para {
		line-height: 28px;
	}

	.apartment_details_page h5 {
		font-size: 18px;
	}

	.apartment_details_page .landmarks h5 {
		font-size: 16px;
	}

	.apartment_details_page .landmarks img,
	.about_team img {
		width: 150px;
		height: 130px;
	}
	.apartment_details_page .row-mobile,
	.about_team .row-mobile {
		display: flex;
		flex-wrap: nowrap;
		overflow-x: auto;
		overflow-y: hidden;
		/* margin-right: 5px; */
	}

	.apartment_details_page .sim {
		margin-top: -3rem;
	}
}

@media (max-width: 767px) {
	.intro_image.intro_half {
		display: none;
	}
	.lightbox_btn {
		bottom: 2rem;
	}

	.about_pad {
		padding: 0 1rem;
	}
}

/* -------------------------------------- About page styles --------------------------------------- */
.about_page_bg {
	min-height: 80vh;
}

.about_page_section {
	padding: 4rem 0;
}

.about_pad {
	padding: 0 3.5rem;
}

.about_text {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.about_text p {
	font-size: 14px;
	line-height: 28px;
	text-align: justify;
}

.about_team h4 {
	padding: 1rem 0 0rem 0;
}

.about_team p {
	font-size: 14px;
	color: rgba(45, 45, 45, 0.7);
}

.about_team {
	padding-bottom: 5rem;
}

.about_page_section img {
	width: 100%;
	border-radius: 12px;
	object-fit: cover;
}

.about_team img {
	width: 100%;
	object-fit: cover;
}

@media (max-width: 992px) {
	.about_team img {
		width: 150px;
		height: 130px;
	}
}

@media (max-width: 767px) {
	.about_team h4 {
		font-size: 16px;
	}
}

/* ----------------------------------------- Contact page ------------------------------------ */
.contact_box {
	background: #f0f3fb;
	border-radius: 12px;
	padding: 1.5rem 0 3rem 0;
	width: 30%;
	color: #2d2d2d;
}

.contact_box1 {
	padding: 0.3rem 1.1rem;
	border-bottom: 1px solid rgba(45, 45, 45, 0.3);
}

.contact_box1 svg {
	color: #3c79f2;
	margin-right: 0.5rem;
}

.contact_box1 p {
	display: flex;
	align-items: center;
}

.contact_box1 span {
	font-weight: 500;
	margin-right: 0.5rem;
}

.contact_links {
	padding: 1.6rem 1.1rem 0 1.1rem;
}

.contact_links a {
	color: white;
	background: #155eef;
	border: 1px solid #155eef;
	height: 1.8rem;
	width: 1.8rem;
	display: inline-block;
	border-radius: 50%;
	text-align: center;
	padding-top: 0.1rem;
	transition: all 0.4s ease-in-out;
}

.contact_links a:hover {
	color: #155eef;
	background: #fff;
	border: 1px solid #155eef;
}

.contact_left {
	border: 1px solid #155eef;
	border-radius: 12px;
	padding: 1.2rem;
}

.contact_left img {
	width: 100%;
	border-radius: 1rem;
	margin: 1rem 0 1.5rem 0;
}

.contact_div2 {
	padding: 4rem 0;
}

.contact_left p {
	font-weight: 400;
	font-size: 14px;
	line-height: 28px;
}

.contact_right {
	border: 1px solid #155eef;
	border-radius: 12px;
	padding: 1.2rem 2rem;
}

.contact_pad {
	padding-left: 3rem;
}

.contact_right form {
	padding: 1rem 0 1rem 0;
}

.pebbles_form input {
	border: none;
	border-bottom: 1px solid #2d2d2d;
	border-radius: 0;
	/* color: rgba(45, 45, 45, 0.5); */
	padding: 0 0.3rem;
	font-size: 14px;
}

.pebbles_form input:focus,
.pebbles_form textarea:focus {
	box-shadow: none;
	/* color: rgba(45, 45, 45, 0.5); */
}

/* .pebbles_form input::placeholder,
.pebbles_form textarea::placeholder {
	color: rgba(45, 45, 45, 0.5);
} */

.pebbles_form label {
	margin: 2rem 0 1.5rem 0;
}

.pebbles_form textarea {
	border: 1px solid #2d2d2d;
	color: rgba(45, 45, 45, 0.5);
	padding: 1rem;
	font-size: 14px;
	height: 20rem;
}

@media (max-width: 1200px) {
	.contact_box {
		width: 40%;
	}
}

@media (max-width: 992px) {
	.contact_pad {
		padding-left: 1rem;
	}

	.contact_box {
		width: 50%;
	}
}

@media (max-width: 767px) {
	.contact_pad {
		padding-left: 0;
	}

	.contact_left {
		margin-bottom: 2rem;
		margin-top: 4rem;
	}

	.contact_box {
		width: 100%;
		margin-top: 40rem;
	}
}

/* ------------------------------------- lOGIN PAGE STYLES -------------------------------------- */
.auth_page .auth_page_bg {
	min-height: 100vh;
}

.pebbles_form_div,
.pebbles_form1_div {
	position: relative;
	padding-top: 3rem;
}

.pebbles_form_div .pebbles_form {
	background: #fff;
	border-radius: 6px;
	padding: 7rem 2rem 3rem 2rem;
}

.pebbles_form_div .pebbles_form h4,
.pebbles_form1_div .pebbles_form h4 {
	font-weight: 600;
	margin-bottom: 3rem;
}

.password_div,
.confirm_password_div {
	position: relative;
}

.password_div i,
.confirm_password_div i {
	position: absolute;
	right: 0.1rem;
	bottom: 0.4rem;
}

.pebbles_form1_div .pebbles_form {
	background: #fff;
	border-radius: 6px;
	padding: 2rem 2rem 3rem 2rem;
}

.pebbles_form1_div .pebbles_form h4 {
	margin-bottom: 1.5rem;
}

.resend button {
	border: none;
	background-color: #fff;
	font-weight: 400;
	font-size: 14px;
	color: #155eef;
}

@media (max-width: 767px) {
	.auth_page .logo_div {
		text-align: center;
	}
}

@media (max-width: 576px) {
	.auth_page .auth_page_bg {
		background-image: none !important;
	}

	.auth_page .about_page_bg::before {
		background-color: transparent !important;
	}

	.pebbles_form_div .pebbles_form {
		padding: 2rem 1rem 3rem 1rem;
	}

	.auth_page .logo_div {
		display: none;
	}
}

/* ------------------------------------------------------- events page -------------------------------------------------------- */
.event_bg {
	min-height: 70vh;
}

.event_bg .homepage_div {
	height: 70vh;
}

.event_card {
	margin-bottom: 2rem;
}

/* ------------------------------------------------------- rides page -------------------------------------------------------- */
.ride_carousel .search_apartment_div {
	margin-top: -13rem;
}

.ride_carousel .search_apartment_div input {
	margin-bottom: 1rem;
}

.book_trip_text {
	color: white;
	font-size: 14px;
}

.input_multi {
	background-color: #fff;
	border-radius: 0.4rem;
	height: 2.5rem;
	padding-bottom: 1rem;
}

.input_multi .searchWrapper {
	border: 1px solid transparent !important;
}

.search_component_div .input_multi input {
	padding-left: 0;
	margin-top: 0;
}

.search_component_div .input_multi span {
	top: 0;
	color: #fff;
	left: 0;
}

@media (max-width: 992px) {
	.ride_carousel .search_apartment_div {
		margin-top: -17rem;
	}
}

@media (max-width: 767px) {
	.book_trip_text {
		color: #111;
	}
}

.rdrDayDisabled .rdrDayNumber span {
	color: #aeb9bf !important;
}

.rdrDayNumber span {
	color: #2d2d2d !important;
	font-weight: 500;
}

/* ---------------------------------- ApprovePayment Styles page ------------------------------ */
.verify-box {
	box-shadow: 2px 3px 7px #ccc;
	height: 60vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1rem 2rem;
	text-align: center;
	border-radius: 1rem;
	margin: 10rem 0 3rem 0;
}

.verify-box h3 {
	font-weight: 800;
}

.verify-box p {
	margin-bottom: 6rem;
}

.verify-box a {
	background-color: green;
	height: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff !important;
	font-weight: 600;
	border-radius: 0.3rem;
	box-shadow: 2px 3px 3px #aaa;
	transition: all 0.3s ease-in-out;
}

.verify-box a:hover {
	box-shadow: 0 0 0 #ccc;
}

.muu {
	display: block;
}

.span_important {
	background-color: red;
	border-radius: 50%;
	height: 1rem;
	width: 1rem;
	display: flex;
	color: #fff;
	justify-content: center;
	align-items: center;
	font-size: 11px;
	margin-left: 5rem;
	position: relative;
}

.span_important::before {
	content: '-------';
	position: absolute;
	color: red;
	left: -3rem;
	width: 10rem;
}

/* ------------------------------------ pagination ------------------------------ */
.my_paginate {
	margin: 3rem 0 1.2rem 0;
	display: flex;
	justify-content: center;
}
.my_paginate span {
	background-color: #fff;
	border: 1px solid #999;
	color: #111;
	padding: 0.5rem 1rem;
	margin: 0.15rem;
	font-weight: 600;
	box-shadow: 4px 3px 9px #999;
	transition: all 0.4s ease-in-out;
	text-decoration: none;
	font-size: 0.9rem;
	cursor: pointer;
}
.my_paginate span:hover {
	text-decoration: none;
	box-shadow: 2px 7px 9px #999;
}
.my_paginate .active {
	background: #155eef;
	border: 1px solid #155eef;
	color: #fff;
}

/* navbar */
.nav_upgrade {
	font-style: italic;
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.2px;
	color: rgba(45, 45, 45, 0.7);
	text-align: center;
	margin-top: 20px;
}

.btn_upg {
	color: #155eef !important;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 32px;
	letter-spacing: 0.15px;
	border: 1px solid #155eef;
	background-color: #f8f8f8;
	border-radius: 6px !important;
	height: 2.5rem;
	display: flex !important;
	justify-content: center;
	align-items: center;
	transition: all 0.3s ease-in-out;
}

.btn_upg:hover {
	background-color: #155eef;
	color: #fff !important;
	box-shadow: 2px 2px 2px #ccc;
}

.rotating_heart {
	animation: 3s infinite alternate slidein;
}

@keyframes slidein {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}
