a {
	text-decoration: none;
}
.homepage_bg {
	background-size: cover !important;
	min-height: 100vh;
	position: relative;
	object-fit: contain;
}

.homepage_bg::before {
	content: '';
	background-color: rgba(45, 45, 45, 0.7);
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.homepage_div {
	flex-direction: column;
	display: flex;
	height: 90vh;
	justify-content: center;
	position: relative;
	color: #fff;
	padding-left: 5%;
}

.homepage_div h1 {
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 40px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	color: rgba(248, 248, 248, 0.8);
}

.homepage_div p {
	font-size: 14px;
	margin-top: 10px;
}

.home_carousel .slick-dots {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
}

.homepage_bg .slick-dots li.slick-active button:before {
	opacity: 0.75;
	color: #fff;
}

.search_apartment_div {
	position: relative;
}

.search_apartment_div h3 {
	color: #fff;
	font-weight: 600;
	font-size: 16px;
	line-height: 30px;
	text-align: center;
	letter-spacing: 0.5px;
}

.explore_apartments {
	padding-top: 6rem;
	padding-bottom: 2rem;
}

.explore_apartments .p_4 {
	padding: 20px;
}

.explore_apartments .slick-arrow::before {
	background-color: rgba(45, 45, 45, 0.8);
	color: white;
	border-radius: 50%;
	padding: -0px;
	font-size: 28px;
}

.new_apartments {
	position: relative;
	padding-top: 4rem;
	padding-bottom: 3rem;
}

.new_apartments::before {
	content: '';
	background-color: rgba(6, 6, 6, 0.65);
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	height: 100%;
}

.gxc {
	position: relative;
}

.new_apartments img {
	width: 100%;
	height: 188px;
	object-fit: cover;
}

.new_apartments a {
	text-decoration: none;
}

.new_apartments a img {
	border-radius: 8px;
}

.new_apartments h1 {
	text-align: center;
	font-weight: 700;
	font-size: 40px;
	letter-spacing: 0.15px;
	color: #f8f8f8;
	position: relative;
	margin-bottom: 3rem;
}

.new_apartments .bg-white {
	margin-top: -0.2rem;
	height: 2.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 0.5rem;
}

.new_apartments p {
	margin-bottom: 0;
	font-weight: 500;
	letter-spacing: 0.15px;
}

.text_black {
	color: #060606;
}

.new_apartments .explore {
	color: #f8f8f8;
	position: relative;
	border: 1px solid #f8f8f8;
	padding: 0.4rem 1rem;
	font-weight: 500;
	transition: all 0.3s ease-in-out;
}

.new_apartments .explore:hover {
	background-color: #f8f8f8;
	box-shadow: 1px 2px 3px #ccc;
	color: #060606;
}

.trendy_apartments {
	padding-top: 3.5rem;
}

.unlock_your {
	padding-bottom: 5rem;
	padding-top: 6rem;
}

.unlock_your h1 {
	text-align: left;
	margin-bottom: 2rem;
}

.unlock_your p {
	color: #f8f8f8;
}

.review_0 {
	background: #dfafb9;
	border-radius: 100px 0px;
}

.review_1 {
	background: #ffddee;
	border-radius: 0px 100px;
}

.review_2 {
	background: #d1b3cb;
	border-radius: 100px 0px;
}

.review_box {
	padding: 2rem;
	padding-top: 3rem;
	min-height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.review_box .message {
	font-family: 'Halant', serif;
	font-weight: 500;
	line-height: 28px;
	text-align: justify;
	letter-spacing: 0.15px;
	color: #2d2d2d;
	min-height: 11rem;
	padding-bottom: 0.1rem;
}

.review_box .name {
	font-weight: 500;
}

@media (max-width: 1200px) {
	.new_apartments img {
		height: 130px;
	}
}

@media (max-width: 992px) {
	.new_apartments .row-mobile {
		display: flex;
		flex-wrap: nowrap;
		overflow-x: auto;
		overflow-y: hidden;
		/* margin-right: 5px; */
	}

	.new_apartments img {
		width: 150px !important;
		height: 130px;
	}

	.homepage_div h1 {
		font-size: 32px;
	}
}

@media (max-width: 767px) {
	.homepage_div h1 {
		font-size: 24px;
		line-height: 26px;
	}

	.new_apartments h1 {
		font-size: 30px;
	}

	.unlock_your h1 {
		font-size: 24px;
	}
}

/* -------------------------------- Search page ------------------------------- */
.page_padding {
	padding-top: 4rem;
}

.navbar_search .search_component_main_div {
	padding: 0 15%;
	margin-top: 0;
	margin-bottom: 4rem;
	padding-bottom: 1rem;
	box-shadow: 2px 2px 4px rgba(21, 94, 239, 0.05);
}

.search_page .sort_div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;
}

.sort_div select:focus {
	box-shadow: none;
}

@media (min-width: 992px) {
	.map_section {
		display: inline;
	}
}

@media (max-width: 992px) {
	.page_padding {
		padding-top: 10rem;
	}

	.map_section {
		display: none;
	}

	.navbar_search .search_component_main_div {
		padding: 0;
		margin-bottom: 2rem;
	}
}

@media (max-width: 767px) {
	.sort_div p,
	.sort_div select {
		font-size: 14px;
	}
}

/* -------------------------------- Apartment Details page ------------------------------- */
.apartment_details_page .intro_image {
	width: 100%;
	border-radius: 8px;
	object-fit: cover;
}

.intro_image.intro_half {
	height: 240px;
}

.intro_image.intro_full {
	height: 503px;
}

.apartment_formform_pad {
	padding: 1rem 3.5rem;
}

.apartment_formform {
	background: #ffffff;
	box-shadow: -3px -3px 22px rgba(21, 94, 239, 0.04),
		3px 3px 22px rgba(21, 94, 239, 0.04);
	border-radius: 20px;
	padding: 1.8rem 2.5rem 0 2.5rem;
	color: #333;
}

.apartment_formform img {
	height: 1.5rem;
	margin-right: 1.5em;
}

.apartment_formform .sect1,
.apartment_formform .sect2 {
	border-bottom: 1.14691px solid rgba(45, 45, 45, 0.2);
	padding-bottom: 1rem;
	margin-bottom: 1rem;
}

.apartment_formform .sect3 p {
	font-size: 14px;
}

.apartment_formform .sect1 p,
.apartment_formform .sect2 p {
	margin-bottom: 0;
	font-size: 12px;
}

.apartment_formform_div {
	border: 1px solid #333333;
	border-radius: 4px;
}

.apartment_formform_div .bor_right {
	border-right: 1px solid #041330;
}

.apartment_formform_div .bor_bottom {
	border-bottom: 1px solid #041330;
}

.apartment_formform_div input {
	border: none;
	width: 100%;
	font-size: 14px;
}

.apartment_formform_div input::placeholder {
	font-size: 14px;
}

.apartment_formform_div input:focus {
	box-shadow: none;
}

.apartment_formform .btn_save {
	background: #155eef;
	border-radius: 4px;
	font-weight: 500;
	font-size: 16px;
	line-height: 23px;
	color: #fff;
	transition: all 0.3s ease-in-out;
	margin: 1.2rem 0;
}

.apartment_formform .btn_save:hover {
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
}

.apartment_details_page .intro_header {
	font-weight: 600;
	line-height: 34px;
	letter-spacing: 0.169361px;
	color: #2d2d2d;
	margin: 1rem 0;
}

.apartment_details_page .intro_para {
	font-weight: 400;
	line-height: 32px;
	letter-spacing: 0.169361px;
	margin: 1rem 0;
	text-align: justify;
}

.apartment_details_page .sect_head {
	font-weight: 600;
	/* font-size: 40px; */
	line-height: 32px;
	letter-spacing: 0.169361px;
	margin: 4rem 0 1rem 0;
	color: #2d2d2d;
	padding-bottom: 1rem;
	border-bottom: 1.14691px solid rgba(45, 45, 45, 0.2);
}

.apartment_details_page .amenities_div {
	padding: 0.2rem 0;
}

.apartment_details_page .amenities_div svg,
.booking_policy svg {
	color: #155eef;
	margin-right: 0.6rem;
}

.btn_white_blue {
	color: #155eef;
	font-weight: 400;
	font-size: 14px;
	line-height: 28px;
	background-color: #fff;
	border: 1px solid #155eef;
}

.booking_policy svg {
	font-size: 26px;
}

.booking_policy .detail_div {
	padding-top: 0.2rem;
}

.apartment_details_page h5 {
	font-weight: 600;
}

.booking_policy .detail_div h6 {
	font-weight: 500;
}

.apartment_details_page .grey_bg {
	background-color: #ecf0f9;
	padding: 2rem 0 0.7rem 0;
}

.apartment_details_page .grey_bg h5 {
	font-size: 18px;
}

.apartment_details_page .landmarks {
	padding-top: 3rem;
}

.apartment_details_page .landmarks img {
	width: 100%;
	border-radius: 0;
	margin-bottom: 1rem;
}

.lightbox_btn {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	font-size: 14px;
	background: #f8f8f8;
	border-width: 1px 1px 0px 0px;
	border-style: solid;
	border-color: #2d2d2d;
	border-radius: 4px;
}

@media (max-width: 1200px) {
	.apartment_formform_pad {
		padding: 1rem 2rem;
	}
}

@media (max-width: 992px) {
	.apartment_formform_pad {
		padding: 1rem 0;
	}

	.intro_image.intro_half {
		height: 163px;
	}

	.intro_image.intro_full {
		height: 350px;
	}

	.apartment_details_page .intro_header,
	.apartment_details_page .sect_head {
		line-height: 30px;
		margin: 0rem 0 1rem 0;
		font-size: 24px;
	}

	.apartment_details_page .intro_para {
		line-height: 28px;
	}

	.apartment_details_page h5 {
		font-size: 18px;
	}

	.apartment_details_page .landmarks h5 {
		font-size: 16px;
	}

	.apartment_details_page .landmarks img {
		width: 150px;
		height: 130px;
	}
	.apartment_details_page .row-mobile {
		display: flex;
		flex-wrap: nowrap;
		overflow-x: auto;
		overflow-y: hidden;
		/* margin-right: 5px; */
	}

	.apartment_details_page .sim {
		margin-top: -3rem;
	}
}

@media (max-width: 767px) {
	.intro_image.intro_half {
		display: none;
	}
}
